<div class="demo">
	<div class="row">
		<div class="col-md-12 lv-chat-header right-align hidden-xs">
			<h3>Need Help?
				<button class="btn btn-raised btn-info btn-orange" type="button"><i class="glyphicon glyphicon-question-sign"></i> <span class="hidden-sm">Search FAQs</span> </button>
				<button class="btn btn-raised btn-info btn-orange" type="button"><i class="glyphicon glyphicon-comment"></i> <span class="hidden-sm">Live Chat</span> </button>
				<button class="btn btn-raised btn-info btn-orange" type="button"><i class="glyphicon glyphicon-earphone"></i> <span class="hidden-sm">Call Us</span> </button></h3>
		</div>
		<div class="col-md-12 lv-chat-header right-align visible-xs">
			<h3>Need Help?
				<a href class="orange"><i class="glyphicon glyphicon-question-sign"></i></a>
				<a href class="orange"><i class="glyphicon glyphicon-comment"></i></a>
				<a href class="orange"><i class="glyphicon glyphicon-earphone"></i></a></h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="center">
				<h3>CAR INSURANCE QUOTE</h3>
			</div>
		</div>
	</div>
	<br>
	<div class="row hidden-sm hidden-xs">
		<hr class="step-center-border">
		<div class="col-md-2 col-md-offset-1 center">
			<div class="step active center">
				<div class="step-number">
					1
				</div>
				<div class="step-text">
					<p>Your Details</p>
				</div>
			</div>
		</div>
		<div class="col-md-2 center">
			<div class="step center">
				<div class="step-number">
					2
				</div>
				<div class="step-text">
					<p>Car Details</p>
				</div>
			</div>
		</div>
		<div class="col-md-2 center">
			<div class="step center">
				<div class="step-number">
					3
				</div>
				<div class="step-text">
					<p>Your quote</p>
				</div>
			</div>
		</div>
		<div class="col-md-2 center">
			<div class="step center">
				<div class="step-number">
					4
				</div>
				<div class="step-text">
					<p>Summary</p>
				</div>
			</div>
		</div>
		<div class="col-md-2 center">
			<div class="step center">
				<div class="step-number">
					5
				</div>
				<div class="step-text">
					<p>Payment</p>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-7 col-md-offset-1">
			<form class="bs-component lv-form">
				<fieldset>
					<legend>Tell us about yourself</legend>
					<a>Not sure if we can insure you?</a>
					<div class="form-group">
						<label class="control-label" for="focusedInput1">Title </label>
						<div class="input-group">
							<select class="form-control">
								<option value="">Please select</option>
								<option value="MR">Mr</option>
								<option value="MRS">Mrs</option>
								<option value="MISS">Miss</option>
								<option value="MS">Ms</option>
								<option value="DR">Dr</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="addon2">First name </label>
						<div class="input-group">
							<input type="text" id="addon2" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="inputLarge">Wilt u dit huis met uw partner kopen? </label>
						<div class="radio radio-primary">
							<label>
            				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="true">
            				Male
          				</label>
							<label>
            				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            				Female
         				 	</label>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="addon2">Marital status </label>
						<div class="input-group">
							<select id="selectbasic" name="selectbasic" class="form-control">
								<option value="">Please select</option>
								<option value="SINGLE">Single</option>
								<option value="LIVING_WITH_PARTNER">Living With Partner</option>
								<option value="MARRIED">Married</option>
								<option value="CIVIL_PARTNER">Civil Partner</option>
								<option value="SEPARATED">Separated</option>
								<option value="DIVORCED">Divorced</option>
								<option value="WIDOWED">Widowed</option>
    						</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label">Date of birth </label>
					</div>
					<div class="row">
						<div class="col-md-4">
							<select class="form-control">4</option><option value="05">5</option><option value="06">6</option><option value="07">7</option><option value="08">8</option><option value="09">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
						</div>
						<div class="col-md-4">
							<select class="form-control col-md-3">March</option><option value="04">April</option><option value="05">May</option><option value="06">June</option><option value="07">July</option><option value="08">August</option><option value="09">September</option><option value="10">October</option><option value="11">November</option><option value="12">December</option></select>
						</div>
						<div class="col-md-4">
							<input type="text" id="addon2" class="form-control col-md-3">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="addon2">Contact number (Your mobile number is the best way for us to keep in touch) </label>
						<label>We'll only use this to contact you about your policy.</label>
						<div class="input-group">
							<input type="text" id="addon2" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="addon2">Email address </label>
						<label>We'll need your email address if you save your quote and to send you confirmation of cover.</label>
						<div class="input-group">
							<input type="text" id="addon2" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="addon2">Postcode </label>
						<div class="input-group">
							<input type="text" id="addon2" class="form-control">
						</div>
						<button class="btn btn-raised btn-info btn-blue" type="button">Find My Address <i class="glyphicon glyphicon-chevron-right"></i></button>
					</div>

				</fieldset>
			</form>
			<legend>Keeping you informed</legend>
			<p>We have exclusive discounts and offers on our products that we'd love to tell you about, but if you'd prefer not to hear
				from us, <a> just let us know</a>
			</p>
			<hr>
			<legend><i class="glyphicon glyphicon-lock green"></i> How we'll use your information</legend>
			<p>Information you provide will be held by the Selective group of companies and used to offer you a quote and for
				the administration of your policies. By providing this information you’re confirming you have permission to give it to
				us and for us to store it.</p>
			<p>We may obtain information from or exchange it with other organisations:</p>
			<ul>
				<li>Through databases to validate the information you give us, to assess the insurance risk and to help detect and prevent
					fraud and financial crime. If false or inaccurate information is provided and fraud is identified, details will be passed
					to fraud prevention agencies to prevent fraud and money laundering.</li>
				<li>
					Using credit referencing agencies to check your identity, verify the information you have provided, and offer payment options
					to you. The agencies record our enquiries but they do not affect your credit rating.
				</li>
			</ul>
			<p>If you would like further details of how we'll use your information, including how you can obtain details of the information
				we hold, <a href>please click here</a>.</p>
			<div class="form-group pull-right">
				<button class="btn btn-raised btn-info btn-blue" type="button">Next <i class="glyphicon glyphicon-chevron-right"></i></button>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-raised btn-success" type="button"><i class="glyphicon glyphicon-level-up"></i> Retrieve my quote</button>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<h4>A.M. Best's 5 Star rated Car Insurance</h4>
					<p>Independent financial research company, A.M. Best, has awarded our car insurance. </p>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12">
					<img class="img-responsive img-center" src="content/images/defacto.png" />
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12 center">
					<a href>Find out more</a>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img class="img-responsive img-center" src="content/images/padlock.png" />
				</div>
				<div class="col-md-8">
					<p>All our forms are secure and protect your information.</p>
				</div>
			</div>
		</div>
	</div>
</div>